#latest-post{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 50%;
    flex-wrap: wrap;
}

#latest-post .block{
    min-width: 356.66px;
    max-width: 356.66px;
}

#latest-post .block img {
    min-width: 356.66px;
    max-width: 356.66px;
    max-height: 250px;
}

#latest-post .block h6.categories{
    color: #ff8d6a;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
}

#latest-post .block h2.title{
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    line-height: 1.35;
}

#latest-post .block p.resume {
    font-family: 'Crimson Text', serif;
    line-height: 1.6;
    color: #777;
}

a {
    text-decoration: none;
    color: initial;
}

#pagination {
    display: flex;
    justify-content: center
}

#pagination .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: white;
    color: black;
    margin-left : 10px;
    border-radius: 50%;
    border: 1px solid black;
    transition: color 0.5s,background 0.5s;
}

#pagination .page:hover{
    color: white;
    background: black
}