/* *{
    margin:0 !important;
    padding: 0 !important;
} */

html {
    font-family: 'Open Sans', sans-serif;
}

.header-block{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    

}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header .row .logo a {
    color: rgb(68, 68, 68);
    transition: color 1s;
}

#header .logo a:hover {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

.social a {
    margin: 10px;
    color: black;
}

#header a h1 {
    font-family: 'Crimson Text', serif;
    font-size: 6em;
    font-style: none;
}
.navbar-nav {
    padding-right: 350px;
    padding-left:350px;
 
    border-bottom: 1px solid rgb(235, 235, 235);
}
.nav-item {
    text-transform: uppercase;
    color: black !important;
    transition: color 0.2s;
    line-height: 60px;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0 20px;
}


.nav-item:hover {
    color: rgb(119, 119, 119) !important;
}

@media (min-width: 768px) {
    
    .social {
        margin-top: 2%;
        position: absolute;
        z-index: 3;
        margin-left: 40%;
        margin-right: 5%;
    }
}

@media (max-width: 768px) {
    .social {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .logo {
       justify-self: flex-start;
        font-size: 0.8em;
        z-index: 1;
    }
    .top-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

}