* {
    margin: 0;
    padding: 0;
}

footer {
    background: #3C4045;
    height: 100%;
}

footer h3 {
    font-weight: 900;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 13px;
    margin-left: 10px;
}

.lightSide {
    background: #3C4045;
    height: 80%;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;

}

.darkSide {
    background: #333639;
    height: 20vh;
}

.menuFooter li {
    color: #fff;
    list-style: none;
    font-size: 13px;
    line-height: 26px;
    font-weight: 900;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.menuFooter li:hover {
    cursor: pointer;
    color: #C4C5C7;
}

.socialNet {
    height: 80px;
    padding: 20px;
    padding-right: 60px;
}

.socialNet a {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 50%;
    background: #3C4045;
    color: #fff !important;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.socialNet i {
    font: 50px !important;
}


.signature p {
    text-align: center;
    color: #aaa;
    font: 10 px !important;
    vertical-align: baseline;
    font-size: 12px;
}

.topArticle {
    padding: 0;
}

.topArticle figure {
    width: 100%;
    height: 10%;
    padding: 0;
}

.topArticle article {
    width: 100%;
    color: #fff !important;
}

figure img {
    width: 100%;
    object-fit: fill;
}