a {
	text-decoration: none;
	
}

.article-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    width: 800px;;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 50px;
}

.article a:hover {
    text-decoration: none;
}

.article a.img-hover {
	min-width: 360px;
    max-width: 360px;
    max-height: 250px;
    min-height: 250px;
    margin-right: 50px;
}

.article a.img-hover img {
    min-width: 360px;
    max-width: 360px;
    max-height: 250px;
    min-height: 250px;
    margin-right: 50px;
    transition: opacity 0.3s;
}

.article a.img-hover img:hover {
    opacity: 0.8;
}

.article .content {
    max-width: 360px;
    min-width: 360px;
}

.article .content .tags a {
    color: #ff8d6a;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 10px;
    font-size: 0.9em;
}

.article .content h2.title {
    text-transform: uppercase;
    color: #4B5055;
    font-weight: 900;
    font-size: 20px;
}

.article .content .post-excerpt {
    color: #777;
}

@media (max-width: 768px) {

    .article {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
	
	.article a.img-hover {
		min-width: 200px;
		max-width: 90px;
		margin-right: 0px;
	}
    .article a.img-hover img {
        min-width: 200px;
		max-width: 90px;
		margin-right: 0px;
		
    }
    .article .content {
        min-width: 200px;
        max-width: 200px;
    }
}